OPENWEBUI_BASE_URL="http://localhost:3000"
OPENWEBUI_API_KEY="sk-9360a6c5774547bbabd30f23103a47d3"

VLLM_BASE_URL="http://localhost:3000/api"
VLLM_API_KEY="sk-9360a6c5774547bbabd30f23103a47d3" # DEVE ser igual a OPENWEBUI_API_KEY
VLLM_MODEL="qwen2.5:0.5b"
